
ULJM05500/Stage/Village/Home/Kitchen/parts/22/22.png-4x-UniScale-Interp.png-1x_PixelSharpen_v2.png-4x_UniversalUpscalerV2-Neutral_115000_swaG-(4x) forest (Medres Upscaler) (Increment Details) (Sharp)(160K-G).png
ULJM05500/Stage/Village/Home/Kitchen/parts/22/22.png-4x-UniScale-Interp.png-1x_PixelSharpen_v2.png-4x_UniversalUpscalerV2-Neutral_115000_swaG-(4x) FSDedither Riven (Lowres Upscaler) (Preserve Details) (Sharp) (PS2 Textures).png
ULJM05500/Stage/Village/Home/Kitchen/parts/22/22.png-4x-UniScale-Interp.png-1x_PixelSharpen_v2.png-4x_UniversalUpscalerV2-Neutral_115000_swaG-(4x) Fabric-Alt (Manufacturing Texture) (Medres Upscaler) (Preserver Details) (Balance Sharp&Smoth).png
ULJM05500/Stage/Village/Home/Kitchen/parts/22/22.png-4x-UniScale-Interp.png-1x_PixelSharpen_v2.png-4x_UniversalUpscalerV2-Neutral_115000_swaG-(4x) Ground (Allres Upscaler) (Increment Details) (esrgan) (NonTiled,RGB,128HR,32LR) (305K-G).png
